langchain
chromadb
llama-cpp-python
urllib3
pdfminer.six==20221105
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers
protobuf
accelerate
bitsandbytes
click
openpyxl
xformers
openai
torch
ctransformers
pinecone-client
python-dotenv
tiktoken
