langchain=0.0.309
chromadb==0.4.5
urllib3
pdfminer.six==20221105
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers~=4.31.0
protobuf
accelerate
bitsandbytes
click~=8.1.6
openpyxl~=3.1.2
xformers
openai~=0.27.8
torch~=2.0.1
pinecone-client
python-dotenv~=1.0.0
tiktoken~=0.4.0
rank_bm25
numpy~=1.25.1
pandas~=2.0.3
pyarrow
fastparquet
pydantic~=1.10.12
pytest~=7.4.0
freezegun
PyYAML

gradio~=3.39.0
tqdm~=4.65.0
pymongo~=4.4.1
requests~=2.31.0
pytest-env

redis~=5.0.0
aiohttp~=3.8.5

sphinx
sphinx-rtd-theme
